h1{
  color: black;
  text-align: right;
}
h2{
  color: black;
  text-align: center;
  font-style: italic;
}
h6{
  text-align: center;
}
deadline{
    text-align: right;
    color: black;
    font-style: italic;
}

.profile-image-container{
  width: 120px;
  height: 120px;
  float: right;
}
.profile-image {
  width:100%;
  height:100%;
}

.advert_wrapper{
  width: 75%;
  margin:auto;
}
