@import url('https://fonts.googleapis.com/css?family=Abel');
@font-face {
    font-family: 'anuratiregular';
    src: url('fonts/anurati-regular-webfont.woff2') format('woff2'),
         url('fonts/anurati-regular-webfont.woff') format('woff');
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  box-shadow: 0 6px 10px rgba(57, 63, 72, 0.3);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a.logo {background-color: #222;}

ul.topnav li a:hover {background-color: #333;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 500px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}
