@import url('https://fonts.googleapis.com/css?family=Abel');
@font-face {
    font-family: 'anuratiregular';
    src: url('fonts/anurati-regular-webfont.woff2') format('woff2'),
         url('fonts/anurati-regular-webfont.woff') format('woff');
}
header {
  background-color: #333333;
  height: 50px;
  width: 100%;
  position: relative;
  font-family: 'Abel', sans-serif;
}
.logo {
  color: white;
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 30px;
  font-family: 'anuratiregular', 'Abel', Arial;
}
.logo:hover {
  cursor:pointer;
}
.link-container {
  color: white;
  position: absolute;
  height:100%;
  left: 0;
  right: 0;
  width: 310px;
  margin: 0 auto;
}
.nav-link {
  height: 100%;
  display: inline-block;
  position: relative;
  width: 100px;
  text-align: center;
  line-height: -20px;
  font-size: 20;
}
.nav-link:hover {
  background-color: #555;
  cursor: pointer;
}
.nav-link span {
  position: absolute;
  bottom: 15px;
  left:25px;
}
.nav-profile {
  position: absolute;
  right: 10px;
  color: white;
  top: 5px;
  font-size: 30px;
  font-family: 'Abel', Arial;
}
