body {
  background: white url("media/images/background.jpg") repeat;
  margin: 0;
  font-family: Overpass, Arial;
}

.mt-2 {
  text-align: center;
}
.logo-font {
  font-family: 'anuratiregular', 'Abel', Arial;
}

.bold {
  font-weight: bold;
  text-shadow: 1px 0px 0px #000;
  padding-right:1px;
  letter-spacing: 1px;

}

.register-form {
  width:70%;
  margin: auto;
}
.grid-container {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  /*grid-auto-rows: minmax(75px, auto);*/
  grid-auto-rows: auto;
}

@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 2fr;
  }
}

.grid-container .element-container {
  background-color: rgba(0,0,0,0.2);
  position: relative;
  border-radius: 6px;
  color: #222;
  padding: 0.5em;
}

.element-container {
  margin-bottom: 10px;
  margin-left: 10px;
}

.filter {
  border-radius: 6px;
  align-self: start;
  grid-row: 1/10000;
  background-color: #111;
  color: #EEE;
  padding: 5px;
}

.filter .bold {
  text-align: center;
  margin-top:4px;
}
.filter ul li input:hover, .filter ul li label:hover  {
  cursor: pointer;
}
.filter div {
  padding: 5px;
  background-color: #222;
}
.element-title {
  margin: 0;
}

.element-container:hover {
  cursor:pointer;
  background: rgba(150,150,150,0.8);
}

.button-hover:hover {
  cursor:pointer;
  background: rgba(25,25,25,0.8);
}

.element-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.element-image-container {
  float: right;
}

.element-image {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.standard-button, .red-button {
  color: #EEE;
  background-color:  rgba(0, 0, 0, 0.8);
  text-align: center;
  font-weight: bold;
  border: 1px solid darkgrey;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  min-width: 100px;
  font-size: 16px;
  height:33px;
  margin: 10px auto;
  margin-bottom: 10px;
  border-radius: 3px;
}
.standard-button:hover{
	cursor:pointer;
	opacity: 0.85;
}
.red-button {
	background-color: #FFF;
	color: #F00;
}
.red-button:hover {
	cursor:pointer;
	background-color:#EEE;
}

.filter-checkbox {
  white-space: nowrap;
}

#preview-image {
  width:50px;
  height: 50px;
  position: absolute;
  bottom: 65px;
  left: 400px;
}

.fp-element {
  height: 140px;
}

.blurry-box{
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px;
  color: white;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.blurry-box:hover {
  background-color: rgba(0,0,0,0.4);
}

.tag-label {
    color: #efefef;
    border-radius: 5px;
    padding: 0px 7px;
    white-space: nowrap;
}

.Counseling {
    background-color: #007acc;
}

.Health {
background-color: #006bb3;
}

.Engineering {
    background-color: #005c99;
}

.Sales {
background-color: #005b96;
}

.IT {
background-color: #004d80;
}

.Customer {
    background-color: #003d66;
}

.Economics {
    background-color: #001f33;
}
