<!DOCTYPE html>
{% extends "base.html" %}

{% load static %}
{% block title %} Adverts | Momentum {% endblock %}
{% block heading %} Adverts {% endblock %}

{% block content %}

<div class="grid-container">
  {% for advert in adverts %}
  <div onclick="location.href='{% url 'advert' advert.id %}';" class="element-container item{{advert.id}}" data-tags="{{ advert.startup.address.city }}">
    <div class="element-image-container">
      <img src="{% static advert.startup.image.url %}" class="element-image"  alt="{{adverts.startup}} image can't load"/>
    </div>
    <div>
      <p class="element-title bold">{{ advert.title }}</p>
      <ul class="element-list">
        <li> Startup: {{ advert.startup }} </li>
        <li> Location: {{ advert.startup.address.city }}</li>
        <li> Deadline: {{ advert.deadline }} </li>
        <li> {{ advert.available_positions }} available positions</li>
      </ul>
    </div>
  </div>
  {% endfor %}
  <div class="filter">
    <p class="bold element-title"> Filter </p>
    <div>
      <ul class="element-list">
        <li> City: </li>
        {% for city in cities %}
        <li>
          <input type="checkbox" class="filter-checkbox-phase" id="{{ city }}" name="{{ city }}"/>
          <label for="{{ city }}"> {{ city }} </label>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
