<!DOCTYPE html>
{% extends "base.html" %}

{% load static %}
{% block title %} Adverts | Momentum {% endblock %}
{% block heading %} Adverts {% endblock %}

{% block content %}

<div class="grid-container">
  {% for advert in adverts %}
  <div onclick="location.href='{% url 'advert' advert.id %}';" class="element-container item{{advert.id}} advert-item" data-tags="{{ advert.startup.address.city }} {{ advert.startup.tagslist }}" data-text="{{ advert.title }} { advert.startup }} {{ advert.startup.address.city }} {{ advert.startup.tagslist }}">
    <div class="element-image-container">
      <img src="{% static advert.startup.image.url %}" class="element-image"  alt="{{adverts.startup}} image can't load"/>
    </div>
    <div>
      <p class="element-title bold">{{ advert.title }}</p>
      <ul class="element-list">
        <li> Startup: {{ advert.startup }} </li>
        <li> Location: {{ advert.startup.address.city }}</li>
        <li> Deadline: {{ advert.deadline }} </li>
        <li> {{ advert.available_positions }} available positions</li>
      </ul>
    </div>
  </div>
  {% endfor %}
  <div class="filter">
    <div>
        <input type="text" id="search-input" placeholder="Type to search">
    </div>
    <div>
      <ul class="element-list">
        <li> City: </li>
        {% for city in cities %}
        <li>
          <input type="checkbox" class="filter-checkbox-city" id="{{ city }}" name="{{ city }}"/>
          <label for="{{ city }}"> {{ city }} </label>
        </li>
        {% endfor %}
        <li> Tags: </li>
        {% for tag in tags %}
        <li>
          <input type="checkbox" class="filter-checkbox-tags" id="{{ tag }}" name="{{ tag }}"/>
          <label for="{{ tag }}"> {{ tag }} </label>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block extra-scripts %}
<script src="/static/js/adverts.js" type="module" charset="utf-8"></script>
{% endblock %}
