<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title> {% block title %} Welcome | Momentum {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="/static/media/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Abel|Playfair+Display|Overpass" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block extra-stylesheets %}
    {% endblock %}
  </head>
  <body>
    {% block preheader %} {% endblock %}
    {% block header %}
    <ul class="topnav">
      <li><a class="logo logo-font" href="{% url 'index' %}">MOMENTUM</a></li>
      <li><a href="{% url 'startups' %}">Startups</a></li>
      <li><a href="{% url 'adverts' %}">Adverts</a></li>
      <li><a href="{% url 'investors' %}">Investors</a></li>
      {% if user.username != "" %}
        <li class="right" ><a href="{% url 'logout_user' %}">LOGOUT</a></li>
        <li class="right" ><a href="{% url 'profile' user.id %}"> {{ user.username }} </a></li>
      {% else %}
        <li class="right" ><a href="{% url 'login' %}">LOGIN/REGISTER</a></li>
      {% endif %}
    </ul>
    {% endblock %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="mt-2"> {% block heading %} Welcome to Momentum {% endblock %}</h1>
          <hr class="mt-0 mb-4">
          {% block content %}
          <div class="grid-container">
            <div class="filter">Filter</div>
            {% for content in contents %}
            <div onclick="location.href='{% url 'content' content.id %}';" class="element-container">
              <div>
                <p class="element-title bold">{{ content.title }}</p>
                <p>{{ content.type }} <br>
                  {{ content.text|slice:":150" }}... </p>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
    {% block extra-scripts %}{% endblock %}
  </body>
</html>
