<!DOCTYPE html>

{% extends "base.html" %}

{% block title %} Momentum Front Page {% endblock %}

{% block content %}

<div class="grid-container">
  <div class="filter">Filter</div>
  {% for advert in all_adverts %}
  <div onclick="location.href='{% url 'advert' advert.id %}';" class="grid-nested item{{advert.id}}">
    <img src="images/advert{{company.id}}.png" class="element-image"/>
    <p class="element-title">{{ advert.title }}</p>
    <ul class="element-list">
      <li> Startup: {{ advert.company.first_name }} </li>
      <li> Location: {{ advert.company.address }}</li>
      <li> Deadline: {{ advert.deadline }} </li>
      <li> {{ advert.available_positions }} available positions</li>
    </ul>
  </div>
  {% endfor %}
</div>
{% endblock %}
