<!DOCTYPE html>

{% extends "base.html" %}


{% block content %}
<div class="grid-container">
    {% for content in contents %}
    <div onclick="location.href='{% url 'content' content.id %}';" class="element-container item{{content.id}} content-item" data-tags="{{ content.type }}">
        <div>
          <p class="element-title bold">{{ content.type }}: {{ content.title|slice:":25" }}{% if content.title|length > 25%}...{% endif %}</p>
          <p> {{ content.text|slice:":150" }}... </p>
        </div>
    </div>
    {% endfor %}
  <div class="filter">
    <p class="bold element-title"> Filter </p>
    <div>
      <ul class="element-list">
        <li> Type: </li>
        {% for type in types %}
        <li>
          <input type="checkbox" class="filter-checkbox-type" id="{{ type }}" name="{{ type }}"/>
          <label for="{{ type }}"> {{ type }} </label>
        </li>
        {% endfor %}
        <br>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
