<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block extra-stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'intro.css' %}">
{% endblock %}


{% block preheader %}
<div class="intro-container" onclick="scrollAndLoad()">
  <div class="intro-logo-container">
    <h1 class="intro-logo"> MOMENTUM </h1>
    <hr>
    <p> Revolutionize the way you build connections </p>
  </div>
  <div class="blinker"> Click anywhere to enter page </div>
  <div class="arrow bounce"></div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
function scrollAndLoad() {
  window.scrollBy(0, window.innerHeight);
  setTimeout(function() {
    document.querySelector(".intro-container").style.display="none";
    document.querySelector("body").style.overflow="auto";
    document.querySelector("body").style.backgroundPosition="initial";
    document.querySelector(".container").style.minHeight="initial";
  },550)
}
</script>
{% endblock %}
