<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}
{% block title %} Investors | Momentum {% endblock %}
{% block heading %} Investors {% endblock %}

{% block content %}
<div class="grid-container">
    {% for investor in investors %}
    <div onclick="location.href='{% url 'profile' investor.user_id %}';" class="fp-element element-container item{{investor.id}} investor-item" data-tags="{{ investor.tagslist }}" data-text="{{ investor.tagslist }} {{ investor.bio }} {{ investor.user.first_name }} {{ investor.address.city }}">
        <div class="element-image-container">
            <img src="{% static investor.image.url %}" class="element-image"  alt="{{investor}} image can't load"/>
        </div>
        <div>
            <p class="element-title bold">{{ investor.user.first_name }}</p>
            <ul class="element-list">
                <li> Tags: {{ investor.tags.first }}{% if investor.tags.all|length != 1 %},
                    {{ investor.tags.last }}{% if investor.tags.all|length != 2 %}, ...
                    {% endif %}
                    {% endif  %}
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
  <div class="filter">
    <div>
      <input type="text" id="search-input" placeholder="Type to search">
    </div>
    <div>
      <ul class="element-list">
        <li> Tag: </li>
        {% for tag in tags %}
        <li>
          <input type="checkbox" class="filter-checkbox-tags" id="{{ tag }}" name="{{ tag }}"/>
          <label for="{{ tag }}"> {{ tag }} </label>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block extra-scripts %}
<script src="/static/js/investors.js" type="module" charset="utf-8"></script>
{% endblock %}
