<!doctype HTML>

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} New advert | Momentum {% endblock %}
{% block heading %} Create a new advert {% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ advert_form|crispy }}
    <button class="standard-button" type="submit"> Submit </button>
    <button type="button" onclick="location.href='{% url 'index' %}';" class="red-button">Cancel</button>
</form>
{% endblock %}
