<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %} {{ profile_user.first_name }} {{ profile_user.last_name }} | Momentum {% endblock %}
{% block heading %} {{ profile_user.first_name }} {{ profile_user.last_name }} {% endblock %}

{% block extra-stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

<script type="text/javascript">
  window.onload = function() {
    L.mapquest.key = '3Ahbrjn0yAjeG9gQgTTSRu4ubu2LXDB4';

    L.mapquest.geocoding().geocode({
      street: 'Kolbjørn Hejes vei 1E',
      city: 'Trondheim',
      postalCode: '7034'
    }, createMap);

    function createMap(error, response) {
      var location = response.results[0].locations[0];
      var latLng = location.displayLatLng;
      var map = L.mapquest.map('map', {
        center: latLng,
        layers: L.mapquest.tileLayer('map'),
        zoom: 14
      });



      L.marker(latLng, {
        icon: L.mapquest.icons.marker(),
        draggable: false,
      }).bindPopup("Startup").addTo(map);

      map.addControl(L.mapquest.control());
    }
  }
</script>
{% endblock %}

{% block content %}
<div class = 'profile_wrapper'>
  <h6> {{profile.address}} </h6>
  <div class="profile-image-container">
      <img src="../..{% static profile.image.url %}" class="element-image"  alt="{{profile}} image can't load"/>
  </div>
  <p> {{profile.bio}} </p>
  <div class = 'buttons'>
    <button class="standard-button" onclick="location.href='{% url 'logout_user' %}';" style="margin:10px;">Logout</button>
    <button class="standard-button" onclick="location.href='{% url 'logout_user' %}';" style="margin:10px;">Edit profile</button>
    <button class="standard-button" onclick="location.href='{% url 'logout_user' %}';" style="margin:10px;">Add advert</button>
  </div>
  <div id="map" style="width: 100%; height: 530px;"></div>
</div>



{% endblock %}
