<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load app_tags %}

{% block title %} {{ profile_user.first_name }} {{ profile_user.last_name }} | Momentum {% endblock %}

{% block heading %}
<div class="startup_name_heading">
{{ profile_user.first_name }} {{ profile_user.last_name }}
</div>
{% endblock %}

{% block extra-stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
<!-- Legger til kart-->
<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
<!-- Legger til marker på kartet på riktig adresse-->
{% if profile|to_class_name == "Startup" %}
<script type="text/javascript">
    const address = "{{profile.address.street_address|a_to_a}} {{profile.address.city|a_to_a}} {{profile.address.postal_code}} {{profile.address.country|a_to_a}}",
        popupText = "{{profile_user.first_name}} {{profile_user.last_name}}";
</script>
<script type="text/javascript" src="{% static 'js/startup.js' %}"></script>
{% endif %}
{% endblock %}

{% block content %}

<p class="profile-tags-list"><i>
  {% for tag in profile.tags.all %}
  {% if forloop.first %}
    {{tag}}
  {% else %}
    - {{tag}}
  {% endif %}
  {% endfor%}
</i></p>
<div class="profile-image-container">
    <img src="../..{% static profile.image.url %}" class="element-image"  alt="{{profile}} image can't load"/>
</div>

<div class="profile_wrapper">
  {% if profile|to_class_name == "Startup" %}
  {% endif %}

<!-- Legger in bio og knappene-->
  <p> {{profile.bio}} </p>
  <hr class="mt-0 mb-4">
  <div class="circle-container">
    <div class="circle">
        {{ profile.phase }}
    </div>
    <div class="circle">
        {{ profile.employees}}
        employees
    </div>
    <div class="circle">
        {{ profile.address.city }}
    </div>
  </div>


  <div class="buttons">
    {% if profile_user.id == user.id %}
    <button class="standard-button" onclick="location.href='{% url 'logout_user' %}';" style="margin:10px;">Logout</button>
    {% if not profile_user.is_superuser %}
    <button class="standard-button" onclick="location.href='{% url 'edit_profile' %}';" style="margin:10px;">Edit profile  </button>
    {% endif %}
    {% if profile|to_class_name == "Startup" %}
    <button class="standard-button" onclick="location.href='{% url 'new_advert' %}';" style="margin:10px;">Add advert </button>
    {% endif %}
    {% endif %}
  </div>

  <h6> {{profile.address}} </h6>
  {% if profile|to_class_name == "Startup" %}
  <div id="map" style="width: 100%; height: 530px;"></div>
  {% endif %}

</div>



{% endblock %}
