<!doctype HTML>

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static%}
{% block title %} Register Person | Momentum {% endblock %}
{% block heading %} Create your profile{% endblock %}
{% block extra-stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'register_form.css' %}">
{% endblock %}

{% block content %}

  <form method="post" enctype="multipart/form-data" class="register-form">
    {% csrf_token %}

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
          {{ user_form.username|as_crispy_field }}
          {{ user_form.email|as_crispy_field }}
        </div>
      <div class="form-group col-md-6 mb-0">
          {{ user_form.fullname|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">

          {{ user_form.password1|as_crispy_field }}
        </div>
      <div class="form-group col-md-6 mb-0">

          {{ user_form.password2|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">

        {{ address_form.street_address|as_crispy_field }}
        {{ address_form.country|as_crispy_field }}
        </div>
        <div>
          {{ address_form.postal_code|as_crispy_field }}
        </div>
        <div>
          {{ address_form.city|as_crispy_field }}
        </div>
    </div>

    {{ person_form|crispy }}
    <button class="standard-button" type="submit"> Submit </button>
    <button type="button" onclick="location.href='{% url 'login' %}';" class="red-button">Cancel</button>
  </form>
{% endblock %}

{% block extra-scripts %}
<script src="/static/js/register_investor.js" charset="utf-8"></script>
{% endblock %}
