<!doctype HTML>

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Register Startup | Momentum {% endblock %}
{% block heading %} Register your Startup {% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data">


  {% csrf_token %}
  {{ user_form|crispy }}
  {{ address_form|crispy }}
  {{ startup_form|crispy }}
  <button class="standard-button" type="submit"> Submit </button>
  <button type="button" onclick="location.href='{% url 'login' %}';" class="red-button">Cancel</button>
</form>
{% endblock %}
