<!DOCTYPE html>

{% extends "base.html" %}

{% block title %} Startups | Momentum {% endblock %}

{% block content %}
<div class="grid-container">
  <div class="filter">
    <p class="bold element-title"> Filter </p>
    <div>
      <ul class="element-list">
        <li> Phase: </li>
        {% for phase in phases %}
        <input type="checkbox" class="filter-checkbox" name="{{ phase }}"/>
        <li> {{ phase }} </li>
        {% endfor %}
        <br>
        <li> Tag: </li>
        {% for tag in tags %}
        <input type="checkbox" class="filter-checkbox" name="{{ tag }}"/>
        <li> {{ tag }} </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% for startup in startups %}
  <div onclick="location.href='{% url 'startup' startup.id %}';" class="element-container item{{startup.id}}">
    <div class="element-image-container">
      <img src="../static/images/startup{{ startup.id }}.png" class="element-image"  alt="{{startup}} image can't load"/>
    </div>
    <div>
      <p class="element-title bold">{{ startup.user.first_name }}</p>
      <ul class="element-list">
        <li> Phase: {{ startup.phase }} </li>
        <li> Tags: {{ startup.tags.first }}{% if startup.tags.all|length != 1 %},
          {{ startup.tags.last }}{% if startup.tags.all|length != 2 %}, ...
            {% endif %}
          {% endif  %}
         </li>
        <li> Employees: {{ startup.employees }} </li>
        <li> Location: {{ startup.address.city }} </li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
