<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}
{% block title %} Startups | Momentum {% endblock %}
{% block heading %} Startups {% endblock %}

{% block content %}
<div class="grid-container">
    {% for startup in startups %}
    <div onclick="location.href='{% url 'profile' startup.user_id %}';" class="fp-element element-container item{{startup.id}} startup-item" data-tags="{{ startup.tagstring }}+{{ startup.phase }}" data-text="{{ startup.tagstring }} {{ startup.phase }} {{ startup.user.first_name }} {{ startup.employees }} {{ startup.address.city }}">
        <div class="element-image-container">
            <img src="..{% static startup.image.url %}" class="element-image"  alt="{{startup}} image can't load"/>
        </div>
        <div>
            <h4 class="element-title bold">{{ startup.user.first_name }} {{ startup.user.last_name }}</h4>
            <p class="bottom">{{ startup.address.city }}</p>
        </div>
    </div>
    {% endfor %}
  <div class="filter">
    <div>
      <input type="text" id="search-input" placeholder="Type to search">
    </div>
    <div>
      <ul class="element-list">
        <li> Phase: </li>
        {% for phase in phases %}
        <li>
          <input type="checkbox" class="filter-checkbox-phase" id="{{ phase }}" name="{{ phase }}"/>
          <label for="{{ phase }}"> {{ phase }} </label>
        </li>
        {% endfor %}
        <br>
        <li> Tag: </li>
        {% for tag in tags %}
        <li>
            <input type="checkbox" class="filter-checkbox-tags" id="{{ tag }}" name="{{ tag }}"/>
            <label for="{{ tag }}"> {{ tag }} </label>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block extra-scripts %}
<script src="/static/js/startups.js" type="module" charset="utf-8"></script>
{% endblock %}
